

menuconfig IMLIB2_ENABLED
    bool "Enable2 imlib"
    default y
    menu "Imlib configuration"
        visible if IMLIB2_ENABLED
        config IMLIB2_ENABLE_FLOOD_FILL
            bool "IMLIB2_ENABLE_FLOOD_FILL"
            default n
            depends on IMLIB2_ENABLED
            help
                enable IMLIB2_ENABLE_FLOOD_FILL FUN!
    endmenu
